В этом уроке применим линейную регрессию на практике – попробуем предсказать стоимость машин и понять, от каких факторов зависит ценообразование на автомобили. Помимо этого узнаем, какие переменные важны для прогнозирования и насколько хорошо полученная модель описывает данные. 

# Задание:
1. Загрузите данные, проверьте правильность, наличие пропущенных значений, типы данных.
2. Создайте новый признак – марку автомобиля (company). Машины каких производителей встречаются в датасете? Далее исправьте названия и проверьте изменения.
3. Оставьте только часть предикторов, после чего посчитайте корреляцию между price и другими переменными.
4. Преобразуйте категориальные переменные с помощью pd.get_dummies(). 
5. Постройте модель с одним предиктором цены – horsepower. Какой процент изменчивости объясняет полученная модель? (\(R^2\))
6. Далее – две модели (со всеми предикторами и со всеми, кроме марок машин). Обратите внимание на изменения в \(R^2\), коэффициентах и их значимости. Какую модель лучше оставить? 
7. Заполните пропуски в результатах.

## 1. Загрузите данные, проверьте типы, пропущенные значения. 

Сколько пропущенных значений встретилось в датасете?

In [132]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats

In [3]:
df = pd.read_csv('data2/cars.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.iloc[:,0:13].head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3

In [5]:
df.iloc[:,14:26].head()

,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [6]:
df.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [7]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

Ответ: `0`

## 2. Сгенерируем первый признак.

Использовать полное название машины – не самый хороший вариант, поэтому создадим новый признак – марку автомобиля (company). Для этого используйте столбец CarName, разбейте значения ячеек по пробелу и запишите в колонку первый элемент. Например:
```
'audi 100 ls' → 'audi'
```
Сколько всего уникальных марок машины встречается в датасете? Столбец CarName с полным названием машины удалите из датасета, а также car_ID, они не пригодятся для дальнейшего анализа.

In [8]:
df.CarName.nunique()

147

In [9]:
#df['company'] = df.CarName.str.split().str[0]
df.insert(0, 'company', value=df.CarName.str.split().str[0])
#.apply(lambda x: x.split(' ')[0])
df.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [10]:
df.head(5)

,company,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romero,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romero,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,5,2,audi 100ls,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [109]:
df.company.nunique()

28

Ответ: `28`

## 2.2. Теперь внимательнее посмотрите на уникальные значения company. Часть из них оказалась с ошибками!
```
'maxda' → 'mazda'
'Nissan' → 'nissan'
'porcshce' → 'porsche'
'toyouta' → 'toyota'
'vokswagen' & 'vw' → 'volkswagen'
```
Сколько уникальных производителей осталось в итоге?

In [11]:
df.company = df.company.replace('alfa-romero','alfa-romeo')
df.company = df.company.replace('maxda','mazda')
df.company = df.company.replace('Nissan','nissan')
df.company = df.company.replace('porcshce','porsche')
df.company = df.company.replace('toyouta','toyota')
df.company = df.company.replace('vokswagen','volkswagen')
df.company = df.company.replace('vw','volkswagen')
df.company.unique()

array(['alfa-romeo', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [12]:
#в прошлом задании надо было 
df = df.drop(columns=['CarName','car_ID'])
df.head(5)

,company,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romeo,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,alfa-romeo,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,alfa-romeo,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,audi,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,audi,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [13]:
df.company.nunique()

22

Ответ: `22`

## 3. Отлично! Чтобы не перегружать модель большим количеством предикторов, оставим только часть из них:
```
'company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower'
```
также не забыв про то, что мы предсказываем – 'price'. 

После этого посчитайте корреляцию между price и другими переменными. Чему равна корреляция между price и horsepower? Ответ округлите до 2 знаков после точки.

удаляем предикторы не из списка, price - ЗП

In [14]:
thelist = ['price','company', 'fueltype', 'aspiration','carbody', 'drivewheel', 'wheelbase', 'carlength','carwidth', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio','horsepower']
#todelete = list(set(df.columns.to_list()) - set(thelist))
#df = df.drop(columns=todelete)
#я хочу помнить что я написал это глупое решение
df = df[thelist]
df.head()

,price,company,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower
0,13495.0,alfa-romeo,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
1,16500.0,alfa-romeo,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111
2,16500.0,alfa-romeo,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154
3,13950.0,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102
4,17450.0,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115

In [15]:
dfquant = df.dtypes[df.dtypes!=object].index.to_list()
dfquant
#только количественные, хотя я не проверил нету ли цифр типа str

['price',
 'wheelbase',
 'carlength',
 'carwidth',
 'curbweight',
 'enginesize',
 'boreratio',
 'horsepower']

In [16]:
df[dfquant].corr()

,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower
price,1.000000,0.577816,0.682920,0.759325,0.835305,0.874145,0.553173,0.808139
wheelbase,0.577816,1.000000,0.874587,0.795144,0.776386,0.569329,0.488750,0.353294
carlength,0.682920,0.874587,1.000000,0.841118,0.877728,0.683360,0.606454,0.552623
carwidth,0.759325,0.795144,0.841118,1.000000,0.867032,0.735433,0.559150,0.640732
curbweight,0.835305,0.776386,0.877728,0.867032,1.000000,0.850594,0.648480,0.750739
enginesize,0.874145,0.569329,0.683360,0.735433,0.850594,1.000000,0.583774,0.809769
boreratio,0.553173,0.488750,0.606454,0.559150,0.648480,0.583774,1.000000,0.573677
horsepower,0.808139,0.353294,0.552623,0.640732,0.750739,0.809769,0.573677,1.000000

In [17]:
df[dfquant].corr().price['horsepower'].round(2)

0.81

Ответ: `0.81`

## 4. Последний шаг в подготовке данных: линейная регрессия в python не справляется с категориальными переменными (типом object в pandas), поэтому давайте применим pd.get_dummies(). Пример использования:
```python
df_dummy = pd.get_dummies(data=cars[[список_столбцов_типа_object]], drop_first = True)
```
Не забудьте присоединить к полученному датасету столбцы с переменными других типов :) Также обратите внимание: мы должны использовать тот же набор колонок, который был на предыдущем шаге!

Сколько колонок теперь имеется в датасете?

In [30]:
df_dummy = pd.get_dummies(data=df.drop(columns=dfquant), drop_first = True)
df_dummy.head()

,company_audi,company_bmw,company_buick,company_chevrolet,company_dodge,company_honda,company_isuzu,company_jaguar,company_mazda,company_mercury,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [31]:
df2 = pd.concat([df_dummy, df[dfquant]], axis=1)
df2.head()

,company_audi,company_bmw,company_buick,company_chevrolet,company_dodge,company_honda,company_isuzu,company_jaguar,company_mazda,company_mercury,...,cylindernumber_twelve,cylindernumber_two,price,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower
0,False,False,False,False,False,False,False,False,False,False,...,False,False,13495.0,88.6,168.8,64.1,2548,130,3.47,111
1,False,False,False,False,False,False,False,False,False,False,...,False,False,16500.0,88.6,168.8,64.1,2548,130,3.47,111
2,False,False,False,False,False,False,False,False,False,False,...,False,False,16500.0,94.5,171.2,65.5,2823,152,2.68,154
3,True,False,False,False,False,False,False,False,False,False,...,False,False,13950.0,99.8,176.6,66.2,2337,109,3.19,102
4,True,False,False,False,False,False,False,False,False,False,...,False,False,17450.0,99.4,176.6,66.4,2824,136,3.19,115

Ответ: `49`

## 5. Сначала построим небольшую модель всего с одним предиктором цены (price) – horsepower.

Какой процент изменчивости объясняет полученная модель? (округлите до целого)

In [56]:
stats.linregress(df2.horsepower, df2.price)
#R**2 нету

LinregressResult(slope=163.2630609696478, intercept=-3721.7614943227454, rvalue=0.8081388225362213, pvalue=1.4834365732943386e-48, stderr=8.351478808257406, intercept_stderr=929.8492418134903)

In [57]:
res = smf.ols('price ~ horsepower + 1', df2).fit()
print(res.summary())
# horsepower+1 зачем?  кст в чужом решении +1 нету
#аналог add_constant
#X = sm.add_constant(X) # добавить константу, чтобы был свободный член 
#adds a column of constants (1-s)
#а что, если не добавить 1, не будет свободного члена? будет же
#This column of ones corresponds to x_0 in 
#the simple linear regression equation: y_hat = b_0 * x_0 + b_1 * x_1
#делаю без +1 - результат почти не отличается и свободный член не пропадает

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Mon, 09 Oct 2023   Prob (F-statistic):           1.48e-48
Time:                        22:13:04   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Ответ: 65%

## 6. Теперь – две модели:

* модель со всеми предикторами
* модель со всеми предикторами, кроме марок машин

Обратите внимание на изменения в R^2 , коэффициентах и их значимости. Какую модель лучше оставить?

In [83]:
cols = df2.columns.to_list()
cols.remove('price')
all_columns = " + ".join(cols)
all_columns
formula = "price ~ " + all_columns
res = smf.ols(formula, df2).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Mon, 09 Oct 2023   Prob (F-statistic):           4.86e-89
Time:                        22:31:52   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                     -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
company_audi[T.True]            437.1040   2125.971      0.206      0.837   -3761.885    4636.093
company_bmw[T.True]            7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
company_buick[T.True]          3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
company_chevrolet[T.True]     -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
company_dodge[T.True]         -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
company_honda[T.True]         -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
company_isuzu[T.True]          -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
company_jaguar[T.True]         2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
company_mazda[T.True]         -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
company_mercury[T.True]       -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
company_mitsubishi[T.True]    -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
company_nissan[T.True]        -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
company_peugeot[T.True]       -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
company_plymouth[T.True]      -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
company_porsche[T.True]        4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
company_renault[T.True]       -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
company_saab[T.True]            719.8222   1767.620      0.407      0.684   -2771.390    4211.035
company_subaru[T.True]        -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
company_toyota[T.True]        -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
company_volkswagen[T.True]    -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
company_volvo[T.True]            68.2605   1943.170      0.035      0.972   -3769.679    3906.200
fueltype_gas[T.True]           -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
aspiration_turbo[T.True]        596.6566    676.548      0.882      0.379    -739.588    1932.902
carbody_hardtop[T.True]       -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
carbody_hatchback[T.True]     -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
carbody_sedan[T.True]         -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
carbody_wagon[T.True]         -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
drivewheel_fwd[T.True]         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
drivewheel_rwd[T.True]          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
enginetype_dohcv[T.True]      -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
enginetype_l[T.True]          -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
enginetype_ohc[T.True]         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
enginetype_ohcf[T.True]        1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
enginetype_ohcv[T.True]       -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
enginetype_rotor[T.True]         37.4715   2092.597      0.018      0.986   -4095.600    4170.543
cylindernumber_five[T.True]   -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
cylindernumber_four[T.True]   -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
cylindernumber_six[T.True]    -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
cylindernumber_three[T.True]   1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
cylindernumber_twelve[T.True] -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
cylindernumber_two[T.True]       37.4715   2092.597      0.018      0.986   -4095.600    4170.543
wheelbase                       147.1396     76.234      1.930      0.055      -3.429     297.708
carlength                      -113.2012     48.949     -2.313      0.022    -209.881     -16.522
carwidth                        809.1860    214.508      3.772      0.000     385.514    1232.858
curbweight                        4.1822      1.582      2.643      0.009       1.057       7.307
enginesize                       61.4212     23.643      2.598      0.010      14.724     108.119
boreratio                     -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
horsepower                       34.7010     18.000      1.928      0.056      -0.850      70.252
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [107]:
# cols2 = pd.Series(df2.columns)
# cols2[cols2.str.startswith('company')].to_list()
compcols = df2.filter(like='company').columns.to_list()
compcols = set(compcols)
cols2 = [x for x in cols if x not in compcols]

all_columns = " + ".join(cols2)
formula = "price ~ " + all_columns
res = smf.ols(formula, df2).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.914
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     72.32
Date:                Mon, 09 Oct 2023   Prob (F-statistic):           9.86e-81
Time:                        22:57:49   Log-Likelihood:                -1881.6
No. Observations:                 205   AIC:                             3817.
Df Residuals:                     178   BIC:                             3907.
Df Model:                          26
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -1.7e+04    1.3e+04     -1.309      0.192   -4.26e+04    8625.219
fueltype_gas[T.True]          -2423.0935    975.579     -2.484      0.014   -4348.283    -497.904
aspiration_turbo[T.True]      -1139.2334    787.230     -1.447      0.150   -2692.738     414.271
carbody_hardtop[T.True]       -3728.0949   1519.366     -2.454      0.015   -6726.383    -729.807
carbody_hatchback[T.True]     -4639.1279   1294.594     -3.583      0.000   -7193.855   -2084.401
carbody_sedan[T.True]         -3337.7854   1356.075     -2.461      0.015   -6013.838    -661.732
carbody_wagon[T.True]         -4315.4661   1465.089     -2.946      0.004   -7206.646   -1424.287
drivewheel_fwd[T.True]          297.2402   1121.766      0.265      0.791   -1916.431    2510.912
drivewheel_rwd[T.True]         1939.1594   1226.536      1.581      0.116    -481.263    4359.582
enginetype_dohcv[T.True]      -1.713e+04   4540.120     -3.773      0.000   -2.61e+04   -8171.142
enginetype_l[T.True]           2176.0521   1332.818      1.633      0.104    -454.106    4806.211
enginetype_ohc[T.True]         4006.5687    897.437      4.464      0.000    2235.584    5777.553
enginetype_ohcf[T.True]        5421.2822   1388.078      3.906      0.000    2682.076    8160.488
enginetype_ohcv[T.True]       -5001.2242   1345.435     -3.717      0.000   -7656.280   -2346.169
enginetype_rotor[T.True]      -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
cylindernumber_five[T.True]   -1.389e+04   2891.599     -4.802      0.000   -1.96e+04   -8180.353
cylindernumber_four[T.True]   -1.618e+04   3243.610     -4.989      0.000   -2.26e+04   -9780.800
cylindernumber_six[T.True]    -1.175e+04   2287.516     -5.135      0.000   -1.63e+04   -7231.547
cylindernumber_three[T.True]  -9264.0553   4750.899     -1.950      0.053   -1.86e+04     111.279
cylindernumber_twelve[T.True] -1.214e+04   3386.507     -3.585      0.000   -1.88e+04   -5458.378
cylindernumber_two[T.True]    -5196.6413   2084.532     -2.493      0.014   -9310.217   -1083.066
wheelbase                        71.1868     87.028      0.818      0.414    -100.552     242.925
carlength                       -51.3497     50.341     -1.020      0.309    -150.692      47.993
carwidth                        541.8700    253.327      2.139      0.034      41.958    1041.782
curbweight                        2.9577      1.796      1.647      0.101      -0.585       6.501
enginesize                       36.0515     22.376      1.611      0.109      -8.105      80.208
boreratio                     -2230.4519   1731.681     -1.288      0.199   -5647.719    1186.815
horsepower                       86.8164     16.717      5.193      0.000      53.827     119.806
==============================================================================
Omnibus:                       18.493   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.728
Skew:                           0.293   Prob(JB):                     9.65e-12
Kurtosis:                       5.365   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
#часть марок не значима, adj. R**2 0.948->0.901 не сильно упал

Оставляем

* **Где меньше предикторов, ведь R2 изменился не очень сильно, а часть марок вообще не значима**
* Вообще с одним предиктором – horsepower!
* Где больше предикторов, там R2 самый большой

In [144]:
dfres = res.summary2().tables[1]
dfres.iloc[:, 2][dfres.iloc[:, 4]>0.05]
#захотелось конвертировать результат теста в датафрейм

enginetype_ohc[T.True]     4.464458
enginetype_ohcf[T.True]    3.905604
carwidth                   2.139010
horsepower                 5.193205
Name: t, dtype: float64

## 7. Заполните пропуски:

Выбранная модель объясняет примерно **90%** дисперсии (окр. до целого). Среди предикторов **23** из 27 оказались не значимыми (p > 0.05). Пример интерпретации: при единичном изменении показателя horsepower, цена **растет** на **86.8164** (без округления).